@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
    transition: all 0.3s ease-in-out;
}

.button-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

@media (min-width: 1200px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
